<% if line_item.discount_is_applied && !try_spree_current_user.try(:has_spree_role?, 'wholesale') %>
    <span class="micro strikethrough"><%= Spree::Money.new(line_item.pre_discount_price , currency: @order.currency).to_s %> </span>
<% end %>
