<% if product.price > 0 and product.master.volume_prices.present? && !try_spree_current_user.try(:has_spree_role?, 'wholesale') %>
  <div id="bulk-discount">
    <table class="table">
      <% avalable_v_discounts = [] %>
      <% product.master.volume_prices.each { |discount| avalable_v_discounts << discount if discount.currency == current_currency } %>
    	<% avalable_v_discounts.each do |v| %>
        <% next if v.range == '1+' || v.range == '1...2' %>
        <% next if v.role_id.present? %>

      	<%= content_tag(:tr) do %>
        	<%= content_tag :td, v.name %>
        	<%= content_tag :td, Spree::Money.new(v.amount, currency: current_currency).to_s + ' ' +Spree.t(:each) %>
        	<%#= content_tag(:td, Spree.t(:save) + ' ' + ((1.0 - v.amount / (@product.price_in(current_currency).amount.to_f)) * 100.0).floor.to_s + '%') %>
        <% end %>
    	<% end %>
    </table>
  </div>
<% end %>
